/**
* CSS
* 
* @version 1.0
* @author Vaska 
* @author Gregory Cadar
*/
* {
	margin: 0;
	padding: 0;
}


body {
	font-size: 12px;
	font-family: Sanchez, monospace; 
	background: #EFEEDC;
	background-image: url("bg.jpg");
	background-repeat: repeat-y;
	
}

body.section-1 { }
	 
body.section-2 { }
body.section-3 { }

a:link { text-decoration: none; color: #737543; }
a:active { text-decoration: none; color: #851B1D; }
a:visited { text-decoration: none; color: #737543;}
a:hover { text-decoration: underline;}

.nav, .nav a {
	color: #851B1D;
	
	}
	
a img { border: none; }

/** #wrap is not used yet*/

#wrap {
	position: relative;
	left: 10%;
	right:10%;
	top: 5%;
	bottom: 5%;
	}

#undercon { 
	font-family: Sanchez, serif;
	font-size: 18px;
	line-height: 26px;
	color: #66665E;
	max-width: 550px; 
	margin-top: 77px;
	padding: 35px;
	background-color: #E4E3BC;
}

#undercon p {
	font-size: 20px;

}
#menu {
	
	padding: 10px 10px;
    width: 175px;
	position: absolute;
}

#menu ul {
	font-size: 14px;
	line-height: 20px;
	list-style: none;
	margin: 0 0 16px 0;
}

#menu ul li.section-title { 
	text-transform: uppercase;
	font-size: 15px;
	font-weight: none;
	font-style: oblique;
	line-height: 22px;
	color: #C6A518; 
	
	}
#menu ul li.active a {
	color: #A8A36F;
	}

#bottom-menu {
	position: relative;
	top: 75px;

}

#bottom-menu ul { 
	line-height: 14px;
	font-size:12px;
	color: #A8A36F;

}

#bottom-menu ul a { 
	color: #A8A36F;


}

/**content is in question*/

#content {
	
	padding: 10px 10px 10px 0px;
	width: 800px;
    margin: 10px 0px 0px 250px; 
}

.container {
	
  
    }

#content p { 	
	position: relative;
	font-size: 12px;
	font-family: georgia, sans-serif;
	line-height: 16px;
	color: #66665E;
	width: 430px; 
	margin: 0 0 12px 0; 
	}

/** HEADLINE for work goes here, think about making it the lighter biege, efeedc*/

p {
    margin: 0 0 12px 0;
   
    
}

h1 { 
	font-size: 18px;
	line-height: 22px;
	color: #737543;
 }

h2 { 
 	color: #737543;
    font-size: 27px;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 15px;

}

h3 { font-size: 16px; }
h4 { font-size: 12px; }



.img-container	{ 
	margin-left: 10px; 
	  }

/** Description for work goes here, think about making it the lighter biege, efeedc*/

.img-container p	{ 
	width: 500px; 
	margin: 0px 0px 12px 0px; 
	padding: 0px 0px 0px 0px;  
	font-size: 12px;
	font-family: courier, sans-serif;
	
	
	
	}
	
/** does not work yet!!!!
	
.mtitle {
	color: black;

}

.mcaption {

color: black;

}*/
#once { clear: left; }